.crud-container {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.card-img-top {
  height: 180px;        
  object-fit: cover;    
}

nav ul li.search-item {
  margin-left: auto; 
}

.search-container {
  display: flex;
  align-items: center;
  gap: 8px;
}